/*Aqui agregaras todos los estilos para completar el ejercicio*/

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url(./resource/image.jpg) no-repeat;
    background-size:contain;
}

.container {
    width: 100vh;
    border-radius: 15px;
    padding: 1rem;
    background: rgba(255,255,255,0.3);
}